<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technology - the latest</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
{% include 'header.html' %}
<main class="main">

 <section class="posts">
     {% for post in posts %}
    <div class="post-blog">
      <h2>{{ post['title'] }}</h2>
        <h4>{{ post['summary'] }}</h4>
        <small>Posted by: <b> <em>{{ post["author"]}}</em></b> on {{ post['date'] }}</small> <br>
        <a href="{{url_for('get_post',id=post['id'])}}">Read</a>
    </div>
     {% endfor %}

 </section>
</main>
{% include 'footer.html' %}
</body>
</html>